<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ejs模板引擎</title>

    <link rel="stylesheet" type="text/css" href="css/header.css"/>
</head>
<body>
<%- include ../public/header.ejs %>

<ul>
    <% for (var i=0;i<list.length;i++){ %>
    <li><%= list[i] %>  </li>
    <%}%>
</ul>
</body>
</html>